In [1]:
import pandas as pd

In [2]:
my_df = pd.DataFrame({'Name': ["Strom, Mrs. Wilhelm (Elna Matilda Persson)", "Navratil, Mr. Michel (\"Louis MHoffman\")", "Minahan, Miss. Daisy E"],
                   'Age': [29, 36.5, 33],
                   'Sex': ["female", "male", "female"]})
print(my_df)

                                         Name   Age     Sex
0  Strom, Mrs. Wilhelm (Elna Matilda Persson)  29.0  female
1     Navratil, Mr. Michel ("Louis MHoffman")  36.5    male
2                      Minahan, Miss. Daisy E  33.0  female

In [3]:
df_from_file = pd.read_csv("titanic_csv.csv", sep = ";")
df_from_url = pd.read_csv("https://gist.githubusercontent.com/zaryanezrya/8b4ef51c707cb16d5e88a44dc00a1bb2/raw/41230f49c6268e072dbf102672f670be256922ab/gistfile1.txt")

df_from_url.columns = df_from_file.columns
df = pd.concat([df_from_url, df_from_file])

df.drop_duplicates(inplace=True)
print(df)

     PassengerId  Survived  Pclass                               Name     Sex  \
0            552         0       2        Sharp, Mr. Percival James R    male
1            689         0       3    Fischer, Mr. Eberhard Thelander    male
2            605         1       1    Homer, Mr. Harry ("Mr E Haven")    male
3            305         0       3  Williams, Mr. Howard Hugh "Harry"    male
4            290         1       3               Connolly, Miss. Kate  female
..           ...       ...     ...                                ...     ...
489          363         0       3    Barbara, Mrs. (Catherine David)  female
490          447         1       2  Mellinger, Miss. Madeleine Violet  female
491           95         0       3                  Coxon, Mr. Daniel    male
492           59         1       2       West, Miss. Constance Mirium  female
493           33         1       3           Glynn, Miss. Mary Agatha  female

      Age  SibSp  Parch      Ticket     Fare Cabin Embarked
0    27.0      0      0      244358  26.0000   NaN        S
1    18.0      0      0      350036   7.7958   NaN        S
2    35.0      0      0      111426  26.5500   NaN        C
3     NaN      0      0    A/5 2466   8.0500   NaN        S
4    22.0      0      0      370373   7.7500   NaN        Q
..    ...    ...    ...         ...      ...   ...      ...
489  45.0      0      1        2691  14.4542   NaN        C
490  13.0      0      1      250644  19.5000   NaN        S
491  59.0      0      0      364500   7.2500   NaN        S
492   5.0      1      2  C.A. 34651  27.7500   NaN        S
493   NaN      0      0      335677   7.7500   NaN        Q

[891 rows x 12 columns]

In [4]:
df.set_index("PassengerId", inplace = True)
print(df)
df.sort_values(df.index.name, inplace = True)

             Survived  Pclass                               Name     Sex  \
PassengerId
552                 0       2        Sharp, Mr. Percival James R    male
689                 0       3    Fischer, Mr. Eberhard Thelander    male
605                 1       1    Homer, Mr. Harry ("Mr E Haven")    male
305                 0       3  Williams, Mr. Howard Hugh "Harry"    male
290                 1       3               Connolly, Miss. Kate  female
...               ...     ...                                ...     ...
363                 0       3    Barbara, Mrs. (Catherine David)  female
447                 1       2  Mellinger, Miss. Madeleine Violet  female
95                  0       3                  Coxon, Mr. Daniel    male
59                  1       2       West, Miss. Constance Mirium  female
33                  1       3           Glynn, Miss. Mary Agatha  female

              Age  SibSp  Parch      Ticket     Fare Cabin Embarked
PassengerId
552          27.0      0      0      244358  26.0000   NaN        S
689          18.0      0      0      350036   7.7958   NaN        S
605          35.0      0      0      111426  26.5500   NaN        C
305           NaN      0      0    A/5 2466   8.0500   NaN        S
290          22.0      0      0      370373   7.7500   NaN        Q
...           ...    ...    ...         ...      ...   ...      ...
363          45.0      0      1        2691  14.4542   NaN        C
447          13.0      0      1      250644  19.5000   NaN        S
95           59.0      0      0      364500   7.2500   NaN        S
59            5.0      1      2  C.A. 34651  27.7500   NaN        S
33            NaN      0      0      335677   7.7500   NaN        Q

[891 rows x 11 columns]

In [5]:
print(df.info)

<bound method DataFrame.info of              Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3
...               ...     ...
887                 0       2
888                 1       1
889                 0       3
890                 1       1
891                 0       3

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0
...                                                        ...     ...   ...
887                                      Montvila, Rev. Juozas    male  27.0
888                               Graham, Miss. Margaret Edith  female  19.0
889                   Johnston, Miss. Catherine Helen "Carrie"  female   NaN
890                                      Behr, Mr. Karl Howell    male  26.0
891                                        Dooley, Mr. Patrick    male  32.0

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S
...            ...    ...               ...      ...   ...      ...
887              0      0            211536  13.0000   NaN        S
888              0      0            112053  30.0000   B42        S
889              1      2        W./C. 6607  23.4500   NaN        S
890              0      0            111369  30.0000  C148        C
891              0      0            370376   7.7500   NaN        Q

[891 rows x 11 columns]>

In [6]:
print(df.describe())

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [7]:
df.loc[2], df.iloc[0] = df.iloc[0].copy(), df.loc[2].copy()
print(df)

             Survived  Pclass  \
PassengerId
1                   1       1
2                   0       3
3                   1       3
4                   1       1
5                   0       3
...               ...     ...
887                 0       2
888                 1       1
889                 0       3
890                 1       1
891                 0       3

                                                          Name     Sex   Age  \
PassengerId
1            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
2                                      Braund, Mr. Owen Harris    male  22.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0
...                                                        ...     ...   ...
887                                      Montvila, Rev. Juozas    male  27.0
888                               Graham, Miss. Margaret Edith  female  19.0
889                   Johnston, Miss. Catherine Helen "Carrie"  female   NaN
890                                      Behr, Mr. Karl Howell    male  26.0
891                                        Dooley, Mr. Patrick    male  32.0

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0          PC 17599  71.2833   C85        C
2                1      0         A/5 21171   7.2500   NaN        S
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S
...            ...    ...               ...      ...   ...      ...
887              0      0            211536  13.0000   NaN        S
888              0      0            112053  30.0000   B42        S
889              1      2        W./C. 6607  23.4500   NaN        S
890              0      0            111369  30.0000  C148        C
891              0      0            370376   7.7500   NaN        Q

[891 rows x 11 columns]

In [8]:
replacement_map = {"female": "f", "male": "m"}
df['Sex'] = df['Sex'].map(replacement_map)
print(df)

             Survived  Pclass  \
PassengerId
1                   1       1
2                   0       3
3                   1       3
4                   1       1
5                   0       3
...               ...     ...
887                 0       2
888                 1       1
889                 0       3
890                 1       1
891                 0       3

                                                          Name Sex   Age  \
PassengerId
1            Cumings, Mrs. John Bradley (Florence Briggs Th...   f  38.0
2                                      Braund, Mr. Owen Harris   m  22.0
3                                       Heikkinen, Miss. Laina   f  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)   f  35.0
5                                     Allen, Mr. William Henry   m  35.0
...                                                        ...  ..   ...
887                                      Montvila, Rev. Juozas   m  27.0
888                               Graham, Miss. Margaret Edith   f  19.0
889                   Johnston, Miss. Catherine Helen "Carrie"   f   NaN
890                                      Behr, Mr. Karl Howell   m  26.0
891                                        Dooley, Mr. Patrick   m  32.0

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0          PC 17599  71.2833   C85        C
2                1      0         A/5 21171   7.2500   NaN        S
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S
...            ...    ...               ...      ...   ...      ...
887              0      0            211536  13.0000   NaN        S
888              0      0            112053  30.0000   B42        S
889              1      2        W./C. 6607  23.4500   NaN        S
890              0      0            111369  30.0000  C148        C
891              0      0            370376   7.7500   NaN        Q

[891 rows x 11 columns]

In [9]:
passengers = df[df.groupby("Ticket")["Name"].transform('count') >= 6]

passengers_names = passengers["Name"]

print(passengers_names)

PassengerId
14                           Andersson, Mr. Anders Johan
51                            Panula, Master. Juha Niilo
60                    Goodwin, Master. William Frederick
64                                 Skoog, Master. Harald
72                            Goodwin, Miss. Lillian Amy
75                                         Bing, Mr. Lee
120                    Andersson, Miss. Ellis Anna Maria
160                           Sage, Master. Thomas Henry
165                         Panula, Master. Eino Viljami
168      Skoog, Mrs. William (Anna Bernhardina Karlsson)
170                                        Ling, Mr. Lee
181                         Sage, Miss. Constance Gladys
202                                  Sage, Mr. Frederick
267                            Panula, Mr. Ernesti Arvid
325                             Sage, Mr. George John Jr
361                                   Skoog, Mr. Wilhelm
387                      Goodwin, Master. Sidney Leonard
481                       Goodwin, Master. Harold Victor
510                                       Lang, Mr. Fang
542                 Andersson, Miss. Ingeborg Constanzia
543                    Andersson, Miss. Sigrid Elisabeth
611    Andersson, Mrs. Anders Johan (Alfrida Konstant...
635                                   Skoog, Miss. Mabel
639               Panula, Mrs. Juha (Maria Emilia Ojala)
643                        Skoog, Miss. Margit Elizabeth
644                                      Foo, Mr. Choong
679              Goodwin, Mrs. Frederick (Augusta Tyler)
684                          Goodwin, Mr. Charles Edward
687                             Panula, Mr. Jaako Arnold
693                                         Lam, Mr. Ali
793                              Sage, Miss. Stella Anna
814                   Andersson, Miss. Ebba Iris Alfrida
820                         Skoog, Master. Karl Thorsten
825                         Panula, Master. Urho Abraham
827                                         Lam, Mr. Len
839                                      Chip, Mr. Chang
847                             Sage, Mr. Douglas Bullen
851              Andersson, Master. Sigvard Harald Elias
864                    Sage, Miss. Dorothy Edith "Dolly"
Name: Name, dtype: object

In [10]:
cabins_of_selected_passengers = df[df["Name"].isin(my_df["Name"])]["Cabin"]

passengers_in_selected_cabins = df[df["Cabin"].isin(cabins_of_selected_passengers)]
print(passengers_in_selected_cabins)

             Survived  Pclass  \
PassengerId
11                  1       3
206                 0       3
246                 0       1
252                 0       3
395                 1       3
413                 1       1

                                                          Name Sex   Age  \
PassengerId
11                             Sandstrom, Miss. Marguerite Rut   f   4.0
206                                 Strom, Miss. Telma Matilda   f   2.0
246                                Minahan, Dr. William Edward   m  44.0
252                 Strom, Mrs. Wilhelm (Elna Matilda Persson)   f  29.0
395          Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengt...   f  24.0
413                                     Minahan, Miss. Daisy E   f  33.0

             SibSp  Parch   Ticket     Fare Cabin Embarked
PassengerId
11               1      1  PP 9549  16.7000    G6        S
206              0      1   347054  10.4625    G6        S
246              2      0    19928  90.0000   C78        Q
252              1      1   347054  10.4625    G6        S
395              0      2  PP 9549  16.7000    G6        S
413              1      0    19928  90.0000   C78        Q

In [11]:
df["BirthYear"] = 1912 - df["Age"].round().astype("Int64")